{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/buy.css">
{% endblock %}
{% block content %}
    <div class="main-block">
        <h3>Congratulations, you won!</h3>
        <div class="buy-block">
            <div class="left-part">
                <p>The next episodes are coming soon</p>
                <button onclick="window.location.href = '/';">BUY NOW</button>
            </div>
            <div class="right-part">
                <h5>New features</h5>
                <ul>
                    <li>Make your own hero</li>
                    <li>New enigmas</li>
                    <li>Upgrade your weapons</li>
                    <li>Gain experience points</li>
                    <li>More adventures!</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}