{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/begin.css">
{% endblock %}
{% block content %}
        <div class="home">
            <h1>Epic Wild Quest</h1>
            <p>
                Vous aimez l’aventure ? Epic Wild Quest est fait pour vous! Incarnez un mage, un warrior ou encore un rogue. Battez-vous contre des monstres sanguinaires, voyagez de villages en villages et libérez les habitants d’une terrible malédiction pour atteindre la destination finale : The Dark Castle!
            </p>
            <a href="home/choose"><button type="submit">Begin</button></a>
        </div>
{% endblock %}


